header {
  padding: 4px;
  padding-right: 13px;
  /* padding-left: 12px; */
  display: flex;
  width: 100%;
  height: 100%;

  border: 1px solid rgba(255, 255, 255, 0.45);

  box-shadow: 0 8px 32px rgba(60, 45, 35, 0.12);

  border-radius: 24px;

  /*border: 2px solid; */
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  width: 100%;
}
.left {
  display: flex;
  cursor: pointer;
}
.com1 {
  font-family: monospace;
  font-size: 22px;
  color: #a0d4e0;
}
.com2 {
  font-family: cursive;
  font-size: 14px;
  color: #d4d0c2;
}
.right {
  display: flex;
  position: relative;
  align-items: center;
}
.right img {
  cursor: pointer;
}
.right img:hover {
  transform: scale(1.1);
}
.search {
  font-size: 10px;
  outline: none;
  border: none;
  /* border: 2px solid; */
  /* border-color: #d4d0c2; */
  border-radius: 16px;
  color: black;
  padding: 10px;
  border-radius: 16px;
  /* box-shadow: 0 8px 32px #d4d0c2; */
  width: 65px;
  height: 16px;

  transition: all 0.4s ease;
}
.search:focus {
  border: 2px solid;
  border-color: #a0d4e0;
  outline: none;
  /* box-shadow: 0 8px 32px #a0d4e0; */
  width: 105px;
}
nav {
  position: absolute;
  z-index: 2;
  top: 49px;
  right: 6px;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.button {
  border-radius: 100%;
  margin-left: 6px;
  background-color: white;
}

.button img {
  padding: 1px;
  cursor: pointer;
}

.navss {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 12px;
  width: 136px;
  margin-top: 8px;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  opacity: 0;
  transform: translateY(-15px);

  pointer-events: none;

  transition:
    opacity 0.4s ease,
    transform 0.4s ease;
}

.navss.open {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: bold;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: white;
  border: 1px solid rgba(255, 255, 255, 0.45);

  box-shadow: 0 8px 32px rgba(60, 45, 35, 0.12);

  border-radius: 24px;
  padding: 7px;
  border: 1px solid white;
  border-radius: 8px;

  text-decoration: none;
  color: inherit;
}

.nav-link img {
  cursor: pointer;
}
.nav-link img:hover {
  transform: scale(1.1);
}
/* .navs{
  display: flex;
  justify-content: end;
  width: 100%;
  border: 2px solid;
  position: absolute;
  z-index: 2; */
/* width: 20px; 
}*/
section {
  /* border: 2px solid; */
}
.sec3 {
  grid-column: 1 / 3;
}
* {
  box-sizing: border-box;
}

.art {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  height: 100vh;
}
.mains {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 70% 30%;
  align-items: center;
  justify-items: center;
  /* border: 2px solid; */
  width: 100%;
  height: 100vh;
}
.sec1 {
  text-align: center;
  border-right: 1px solid;
  font-size: 20px;
  font-weight: bold;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #a5856f;
}
.sec1d {
  font-size: 9px;
  font-weight: 100;
  color: #a3a096;
}
.sec2 img {
  width: 171px;
}
.sec3 {
  /* grid-column: 2 / 4; */
  /* display: grid; */
  /* grid-template-columns: 50% 50%; */
  /* text-align: center; */
  grid-column: 1 / 3;
  font-weight: bold;

  display: flex;
  flex-direction: column;
  align-items: center;

  /* font-weight: bold; */
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 11px;
  cursor: pointer;
  padding: 3px;
}
.sec3-left {
  border: 1px solid rgba(255, 255, 255, 0.45);
  box-shadow: 0 8px 32px rgba(60, 45, 35, 0.12);

  border-radius: 24px;
  width: 305px;
}
.sec3extra {
  display: none;
  border: 1px solid rgba(255, 255, 255, 0.45);
  box-shadow: 0 8px 32px rgba(60, 45, 35, 0.12);
  width: 305px;
  border-radius: 24px;
  padding: 5px;
}
.sec3c {
  line-height: 2;
  margin-left: 11px;
}
.sec3cc img {
  /* width: 21px; */
  margin-bottom: 6px;
  margin-top: 0px;
  margin-right: 22px;
  margin-left: 14px;
}
.sec3cc img:hover {
  transform: scale(1.1);
}
.sec3extra1 {
  margin-left: 11px;
}
.sec3extra2 {
  margin-left: 11px;
  font-weight: 100;
  color: #a3a096;
  font-size: 9px;
}
.sec3extra3 img {
  width: 66px;
  border-radius: 13px;
  margin-top: 2px;
  margin-left: 10px;
  margin-right: 10px;
}
.sec3a {
  display: none;
}

.art {
  height: 270px;
  border: 1px solid rgba(255, 255, 255, 0.45);

  box-shadow: 0 8px 32px rgba(60, 45, 35, 0.12);

  border-radius: 24px;
}
.sec2-1,
.sec2-2,
.sec2-3 {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 14px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
}
.sec2-1 img {
  width: 57px;
  margin-top: 13px;
  /* border-right: 1px solid;
  border-right-color: #000000; */
}
.sec2-2 img {
  width: 45px;
}
.sec2-3 img {
  width: 83px;
  cursor: pointer;
  margin-top: 7px;
}
.air-c,
.ph-c,
.vr-c {
  font-size: 11px;
  line-height: 2;
  /* cursor: pointer; */
  text-align: center;
  font-weight: bold;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.air-c {
  margin-top: 30px;
}
.ph-c {
  margin-top: 7px;
}
.vr-c {
  margin-top: 31px;
}
.sec2-2 {
  /* border-right: 1px solid;
  border-right-color: #000000; */
}
.air-c2,
.ph-c2,
.vr-c2 {
  line-height: 1.3;
  font-size: 10px;
  text-align: left;
  font-weight: 100;
}

.end {
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  width: 100%;
  line-height: 2;
  display: flex;
  flex-direction: column;
  font-size: 11px;
  /* min-height: 100vh; */
  padding: 8px;
  padding-left: 17px;
  padding-right: 17px;
  margin: 0;

  border: 1px solid rgba(255, 255, 255, 0.45);

  box-shadow: 0 8px 32px rgba(60, 45, 35, 0.12);

  border-radius: 24px;
  /* background-color: rgb(30, 28, 28); */
}
.a {
  text-decoration: none;
  color: black;
}
.a:hover {
  /* font-weight: bold; */
  text-decoration: underline;
  color: #a5856f;
}
.support {
  display: flex;
  justify-content: space-between;
  line-height: 1.3;
}
details {
  margin-left: 8px;
  cursor: pointer;
}
.summary {
  font-weight: bold;
}
@media (min-width: 786px) {
  .mains {
    border: 1px solid rgba(255, 255, 255, 0.45);

    box-shadow: 0 8px 32px rgba(60, 45, 35, 0.12);

    border-radius: 24px;
  }
  nav {
    position: absolute;
    top: 66px;
  }
  .sec1 {
    font-size: 35px;
  }
  .sec2-1 {
    border: 1px solid rgba(255, 255, 255, 0.45);

    box-shadow: 0 8px 32px rgba(60, 45, 35, 0.12);

    border-radius: 24px;
  }
  .sec2-2 {
    border: 1px solid rgba(255, 255, 255, 0.45);

    box-shadow: 0 8px 32px rgba(60, 45, 35, 0.12);

    border-radius: 24px;
  }
  .sec2-3 {
    border: 1px solid rgba(255, 255, 255, 0.45);

    box-shadow: 0 8px 32px rgba(60, 45, 35, 0.12);

    border-radius: 24px;
  }
  .art {
    padding: 10px;
  }
  .sec2-1,
  .sec2-2,
  .sec2-3 {
    padding: 14px;
    font-size: 15px;
  }
  .sec2-1 img {
    width: 73px;
    margin-top: 13px;
    /* border-right: 1px solid;
  border-right-color: #000000; */
  }
  .sec2-2 img {
    width: 57px;
  }
  .sec2-3 img {
    width: 118px;
    margin-top: 7px;
  }
  .air-c,
  .ph-c,
  .vr-c {
    font-size: 14px;
  }
  .air-c {
    margin-top: 44px;
  }
  .sec3c {
    font-size: 12px;
  }
  .vr-c {
    margin-top: 32px;
  }
  .button img {
    width: 26px;
    margin-right: 2px;
  }
  header {
    height: 42px;
  }
}
@media (min-width: 458px) {
  .sec1 {
    font-size: 25px;
  }
  .sec1d {
    font-size: 12px;
  }
  .sec2-1,
  .sec2-2,
  .sec2-3 {
    padding: 14px;
    font-size: 13px;
  }
  .sec2-1 img {
    width: 64px;
    margin-top: 13px;
    /* border-right: 1px solid;
  border-right-color: #000000; */
  }
  .sec2-2 img {
    width: 57px;
  }
  .sec2-3 img {
    width: 118px;
    margin-top: 7px;
  }
  .air-c,
  .ph-c,
  .vr-c {
    font-size: 13px;
  }
  .air-c {
    margin-top: 44px;
  }
  .vr-c {
    margin-top: 31px;
  }
}
@media (min-width: 550px) {
  .sec2-1 img {
    width: 64px;
    margin-top: 13px;
    /* border-right: 1px solid;
  border-right-color: #000000; */
  }
  .sec2-2 img {
    width: 57px;
  }
  .sec2-3 img {
    width: 118px;
    margin-top: 7px;
  }
  .air-c,
  .ph-c,
  .vr-c {
    font-size: 13px;
  }
  .air-c {
    margin-top: 44px;
  }
  .vr-c {
    margin-top: 31px;
  }
}
@media (min-width: 840px) {
  .mains {
    display: grid;
    grid-template-columns: 30% 45% 25%;
    grid-template-rows: 60% 20%;
    width: 100%;
    height: 100vh;
    position: relative;
  }
  .sec2 img {
    /* margin-top: 64px;  */
    width: 198px;
    /* margin-right: 20px; */
    position: absolute;
    z-index: 1;
    /* right: 20px; */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .sec3 {
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* text-align: center; */
    /* grid-column: 1 / 3; */
    font-weight: bold;
    align-items: center;
    justify-items: center;
    justify-self: start;
    /* font-weight: bold; */
    font-family:
      "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 11px;
    cursor: pointer;
    padding: 3px;
    margin-top: 87px;
    width: 100%;
  }
  .sec3-left {
    /* display: flex; */
    /* justify-self: start; */
    margin-right: auto;
    margin-left: 22px;

    width: 305px;
  }
  .sec3extra {
    display: flex;
    /* justify-self: end;
    justify-content: center; */
    align-items: center;
    /* background-color: black; */

    display: block;

    width: 305px;
    height: 100%;
    margin-left: auto;
    margin-right: 22px;
  }

  .sec3a {
    display: block;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    text-align: center;
  }
  .sec3ac {
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
  }
  .sec3acc {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
  }
  .sec3a img {
    width: 150px;
    border: 1px solid rgba(255, 255, 255, 0.45);

    box-shadow: 0 8px 32px rgba(60, 45, 35, 0.12);

    border-radius: 24px;
  }
}
@media (min-width: 1024px) {
  .sec2 img {
    width: 300px;
    /* margin-right: auto;
    margin-left: 66px; */
  }
}
@media (min-width: 1440px) {
  .sec3a img {
    width: 191px;
    /* margin-right: auto;
    margin-left: 66px; */
  }
  .sec3ac {
    font-size: 14px;
  }
  .sec3acc {
    font-size: 13px;
  }
}
body {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}
